page-version2 {
    #outterDiv{
        height: 90%;
    }
    #innerDiv{
        height: 50%;
        background-color: rgb(67, 135, 245);
        margin-top: 0em;

    }
    #p10{
        margin: 1%;
        text-align: center;
    }
  #Tlow{
    margin-bottom: 100%;
    margin-right: 0em; 
  }
  #THigh{
    margin-bottom: 0%;
    text-align: right;
    margin-right: 1em;
   
  }
  #ionGrid{
      margin-top: -10%;
  }
  #p2{
      margin-top: -6%;

      font-size: 3em;
      text-align: center;

  }
  p{
    margin-top: 70px;
    margin-bottom: 0%;
    margin-right: 0em;
    font-size: 15px;
 
  }  #p1{
    margin-top: 70px;
    margin-bottom:0%;
   text-align: right;
   margin-left: 1em;

 
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 28%;
    margin-top: -1em;
}
#p3{
    margin-top: 15px;
    font-size: 2em;
    text-align: center;

}
}
